.footer-wrapper {
  background: linear-gradient(#6787fd, #3f66f5);
}

.back_to_top {
  padding: 20px;
  background: linear-gradient(#3f66f5, #6787fd);
  text-align: center;
  cursor: pointer;
  color: white;
}

.back_to_top:hover {
  background-color: #2f335a;
}

.footer-wrapper a:hover {
  color: white;
}

.footer {
  margin: 0 auto;
  max-width: 1200px;
  color: #fff;
  padding-top: 5rem !important;
  gap: 4rem;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  text-align: left !important;
}

.footer__1 {
  text-align: left;
}

.footer__1 div div {
  text-align: left;
}

.footer__2 {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer-wrapper a {
  text-decoration: none;
  color: #fff;
}
.footer__socialbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.linkedin_icon:hover {
  color: #1a73e8;
}

.instagram_icon:hover {
  color: #e83ca9;
}

.twitter_icon:hover {
  color: #1a73e8;
}

.facebook_icon:hover {
  color: #1a73e8;
}

.footer__socialbar svg {
  cursor: pointer;
  margin-right: 20px;
}
.link-social {
  margin-right: 1rem;
}
.footer__links {
  display: grid;
  justify-items: start;
  gap: 0.5rem;
}

.footer__links li {
  list-style: none;
}

@media screen and (max-width: 786px) {
  .footer {
    flex-direction: column;
  }
  .footer__2 {
    width: 100%;
  }
}
