main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  padding: 1rem;
}

.rating span {
  margin: 0.1rem;
}

.row {
  align-items: center;
  text-align: center;
}

.btn-block {
  width: 100%;
  display: block;
}
