@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  padding: 1rem;
}

.rating span {
  margin: 0.1rem;
}

.row {
  align-items: center;
  text-align: center;
}

.btn-block {
  width: 100%;
  display: block;
}

.text-left {
  text-align: left !important;
}

:root {
  --primary: #1f3e72;
  --secondary: rgba(255, 255, 255, 0.78);
  --black: #131110;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #4066ff;
  --lightBlue: #eeeeff;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 360px) {
  .paddings {
    padding: 1rem;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

.go_back_icon {
  animation: move-left 0.8s infinite ease-in-out;
  -webkit-animation: move-left 0.8s infinite ease-in-out;
}

@keyframes move-left {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -10px;
  }
}
